<%- include("partials/header"); -%>

<h1>Home</h1>
<p>Lacus vel facilisis volutpat est velit egestas dui id ornare. Semper auctor neque vitae tempus quam. Sit amet cursus sit amet dictum sit amet justo. Viverra tellus in hac habitasse. Imperdiet proin fermentum leo vel orci porta. Donec ultrices
  tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus.
  Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Odio euismod lacinia at quis risus sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.</p>

<% for (const post of posts) { %>
<h2>
  <a href="/posts/<%= post._id %>"><%= post.title %></a>

  <form class="home-form" action="/edit" method="post">
    <button type="submit" class="edit" name="edit" value="<%= post._id %>"><i class="las la-pencil-alt"></i></button>
  </form>

  <form class="home-form" action="/delete" method="post">
    <button type="submit" name="delete" value="<%= post._id %>"><i class="las la-trash-alt"></i></button>
  </form>

</h2>

<%  if(post.content.length > 200) { post.content = post.content.slice(0, 200) + " ... "; } %>
<p>
  <%= post.content %>
  <a href="/posts/<%= post._id %>">Read More</a>
</p>
<% }; %>

<%- include("partials/footer"); -%>
