<%- include("partials/header"); -%>

<h3>
  <%= title %>
</h3>

<span>&ensp;<%- date %></span>

<form class="ud-form" action="/delete" method="post">
  <button type="submit" class="btn btn-sm" name="delete" value="<%= id %>">Delete <i class="las la-trash-alt"></i></button>
</form>

<form class="ud-form" action="/edit" method="post">
  <button type="submit" class="btn btn-sm mr-2" name="edit" value="<%= id %>">Edit <i class="las la-pencil-alt"></i></button>
</form>

<p><%- content %></p>

<%- include("partials/footer"); -%>
